@font-face{
    font-family: 'NeusHaas';
    src: url(fonts/NeueHaasDisplay-Light.ttf);
    font-family: 'Canela';
    src: url(fonts/canela_Bold.otf);
}
body{
    background-image: url("Background/black.jpg");
    background-size: cover;
    background-size: 200% 200%;
    margin-top: 5rem;
    color: white;
    font-size: 25px;
    font-family: NeusHaas;
    text-align: center;
}
.greet{
font-family: canela;
color: white;
font-size: 70px;    
}
.home{
    text-align: right;
    position: relative;
    bottom:100px;
    right: 40px;
}
.home a{
    color: white;
    font-weight: bolder;
    border: solid 3px black;
    border-radius: 40px;
    padding: 10px 20px;
    transition: 0.6s ease;
}
.home a:hover{
    background-color: white;
    color: black;
    
}
.accordion-item{
    background-color: black;
    padding: 2px 5px;
    margin-bottom: 1rem;
    height: auto;
}
.expand{    
    margin: 0.5rem;
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;
    background-color: grey;
    padding-bottom: 3px;
    line-height: 2.5rem;
}
.accordion-item:target .expand{
    max-height: 20rem;
}
a{
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: bolder;
}
th{
    background-color: rgb(75, 72, 72);
    font-weight: bolder;
    font-size: 35px;
    padding: 1px 5px;
}
table{
    border-collapse: collapse;
    width: 600px;
    text-align: center;
}
tr{
    border-bottom: 1px solid  rgb(75, 72, 72);
}
.expand p{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.footer img{
    width: 60px;
    height: 60px;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}